doctype html
html(dir='ltr', lang='en')
  head
    meta(charset='utf-8')
    title Blog API
  body
    h4 News Feed
    a(href='/new_post') New Post
    ul
      li post #1
      li post #2
      li post #3
      li post #4
      li post #5

    ul
      each item in posts
        li= item.title
